body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(64, 58, 243);
}

header {
    background-color: #293657;
    padding: 50px;
}


.header-with-image {
    background-image: url('images/header2.png');
    background-size: cover; /* This ensures the image covers the entire header */
    background-position: center; /* This centers the image within the header */
    height: 100px; /* Adjust the height of the header */
    /* You can also specify width, padding, margins, etc. for the header */

}
nav ul {
    list-style-type: none;
    padding: 0;


}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;

}

nav ul li a {
    text-decoration: none;
    color: white;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:  #293657;
}

#links {
    margin-top: 20px;

}

.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:  rgb(64, 58, 243)
}

.link img {
    float: left;
    margin-right:7px;
    width: 80px;
    height: 80px;
}

.link .info {
    overflow: hidden;

}

.link h2 {
    margin-top: 0;
    color: white;
}

.link h2 a {
    color: white;
}

.link p {
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: justify
}

